@model IEnumerable<SportsApplication.Models.Athletes>


@{
    ViewData["Title"] = "Index";
}

@*<h2 style="text-align:center; padding-bottom:2.5em; padding-top:1em">
       <a asp-action="Delete" asp-route-id="@Model.">Edit</a> |
    </h2>*@


<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ParticipantName)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Fitness)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="text-align:center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fitness)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AthletesID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AthletesID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AthletesID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-default" style="width:100%; text-align:center; border-radius:12px">ADD NEW ATHLETE TO TEST</a>
</p>
<p>
    <a asp-action="Delete" class="btn btn-default" style="width:100%; text-align:center; border-radius:12px">DELETE TEST</a>
</p>
