@model IEnumerable<SportsApplication.Models.Tests>

@{
    ViewData["Title"] = "Index";
}

<h2>Sports Application</h2>

<p>
    <a asp-action="Create" class="btn btn-default" style="width:100%; text-align:center; border-radius:12px">CREATE NEW TEST</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestDate);
                    <a asp-action="Details" asp-route-id="@item.TestType"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TestsID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TestsID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TestsID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
@foreach (var item in Model)
{

}
    <form method="post">
        <button asp-controller="Home" asp-action="Index">Click Me</button>
        <input type="image" src="bridge_autumn_city.ing" alt="Or Click Me" asp-controller="Home"
               asp-action="Index">
    </form>
