@model IEnumerable<SportsApplication.Models.Tests>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align:center; padding-bottom:2.5em; padding-top:1em">SPORTS APPLICATION</h2>

<p>
    <a asp-action="Create" class="btn btn-default" style="width:100%; text-align:center; border-radius:12px">CREATE NEW TEST</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th  style="text-align:center">
                @Html.DisplayNameFor(model => model.TestDate)
            </th>
            <th  style="text-align:center">
                @Html.DisplayNameFor(model => model.ParticipantCount)
            </th>
            <th  style="text-align:center">
                @Html.DisplayNameFor(model => model.TestType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr style="text-align:center">
                <td>
                    @Html.DisplayFor(modelItem => item.TestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticipantCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TestsID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TestsID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TestsID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
@*@foreach (var item in Model)
{

}*@
@*@using (var type = new ())*@
@*{

}
    <form method="post">
        <a asp-controller="Athlete" asp-action="Index" asp-route-id="">Click Me</a>
    </form>*@
